<div
  *ngIf="loading"
  class="w-full h-19rem flex align-items-center justify-content-center"
>
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!loading && product" class="px-4 py-8 md:px-6 lg:px-8">
  <p-card>
    <div class="grid">
      <div class="col-12 lg:col-4 image">
        <img src="{{ product.image }}" alt="" class="w-full" />
      </div>
      <div class="col-12 lg:col-8 py-5 lg:py-3 lg:pl-5 content">
        <div class="flex align-items-center justify-content-between mb-4">
          <span class="text-xl font-medium text-900">{{ product.name }}</span
          ><span class="text-xl font-medium text-900"
            >${{ product.price }}</span
          >
        </div>
        <p class="p-0 mt-0 mb-5 line-height-3 text-700">
          {{ product.description }}
        </p>
        <div
          class="flex align-items-center justify-content-between lg:justify-content-start mb-5"
        >
          <span class="mr-3"
            ><i class="pi pi-star-fill text-yellow-500 mr-1"></i
            ><i class="pi pi-star-fill text-yellow-500 mr-1"></i
            ><i class="pi pi-star-fill text-yellow-500 mr-1"></i
            ><i class="pi pi-star-fill text-yellow-500 mr-1"></i
            ><i class="pi pi-star-fill text-yellow-500 mr-1"></i></span
          ><span class="text-500">5.00 | <b>20</b> reviews</span>
        </div>
        <div class="mb-5">
          <span
            [class]="'product-badge status-' + productStatus(product.quantity)"
            >{{ productStatus(product.quantity) }}</span
          >
        </div>
        <div class="flex align-items-center mb-5">
          <p-button
            icon="pi pi-shopping-cart"
            label="Add to Cart"
            class="mr-4"
            [disabled]="product.quantity === 0"
            (onClick)="addToCart(product.id)"
          ></p-button>
          <i
            *ngIf="!(favService.favsCount | async)?.includes(product.id)"
            (click)="addFav(product.id)"
            class="pi text-2xl cursor-pointer pi-heart text-600"
          ></i>
          <i
            *ngIf="(favService.favsCount | async)?.includes(product.id)"
            (click)="removeFav(product.id)"
            class="pi text-2xl cursor-pointer pi-heart-fill text-orange-500"
          ></i>
        </div>

        <ul class="list-none p-0 m-0 text-sm text-600">
          <li class="flex align-items-center mb-3">
            <i class="pi pi-credit-card mr-2"></i><span>Pay in 21 days</span>
          </li>
          <li class="flex align-items-center mb-3">
            <i class="pi pi-send mr-2"></i><span>Free Shipping</span>
          </li>
          <li class="flex align-items-center">
            <i class="pi pi-refresh mr-2"></i><span>30 Days Return Policy</span>
          </li>
        </ul>
      </div>
    </div>
  </p-card>
</div>
