<p-card class="w-29rem">
  <div class="text-center mb-5">
    <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
    <span class="text-600 font-medium line-height-3"
      >Don't have an account?</span
    >
    <a
      routerLink="../register"
      class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
      >Create today!</a
    >
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="field w-full">
      <label for="username" class="block text-900 font-medium mb-2"
        >Email</label
      >
      <input
        formControlName="email"
        id="username"
        placeholder="example@gmail.com"
        type="email"
        aria-describedby="username2-help"
        class="w-full"
        [ngClass]="{
          'ng-dirty': emailField?.dirty,
          'ng-invalid': !emailField?.valid
        }"
        pInputText
      />
      <small
        *ngIf="emailField?.dirty && emailField?.errors?.['required']"
        id="username2-help"
        class="p-error block"
        >Email is required</small
      >
      <small
        *ngIf="emailField?.errors?.['email']"
        id="username2-help"
        class="p-error block"
        >Email is invalid</small
      >
    </div>

    <div class="field w-full">
      <label for="username2" class="block text-900 font-medium mb-2"
        >Password</label
      >
      <p-password
        [toggleMask]="true"
        formControlName="password"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right w-full password-field"
        [ngClass]="{
          'ng-dirty': emailField?.dirty,
          'ng-invalid': !emailField?.valid
        }"
      >
        <ng-template pTemplate="header">
          <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
      <small
        *ngIf="passwordField?.dirty && passwordField?.errors?.['required']"
        class="p-error block"
        >Password is required</small
      >
      <small
        *ngIf="passwordField?.errors?.['invalidPattern']"
        class="p-error block"
        >Password is invalid</small
      >
    </div>
    <p-message
      *ngIf="responseError"
      severity="error"
      text="{{ responseError }}"
      styleClass="mb-3 w-full"
    ></p-message>
    <button
      pButton
      pRipple
      type="submit"
      label="Login"
      [disabled]="!form.valid || loading"
      [loading]="loading"
      icon="pi pi-user"
      class="w-full"
    ></button>
  </form>
</p-card>
