<p-card class="w-29rem">
  <div class="text-center mb-5">
    <div class="text-900 text-3xl font-medium mb-3">Welcome on board</div>
    <span class="text-600 font-medium line-height-3"
      >Already have account?</span
    >
    <a
      routerLink="../login"
      class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
      >Login</a
    >
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="avatar-upload">
      <img
        [src]="avatar | async"
        class="avatar btn__click"
        (click)="file.click()"
        alt=""
      />
      <p-message
        *ngIf="imgError"
        severity="warn"
        text="{{ imgError }}"
        styleClass="p-mr-2 mt-1"
      ></p-message>

      <input
        #file
        class="file-input"
        type="file"
        (change)="onChange($event)"
        placeholder="Upload file"
        accept="image/*"
      />
      <div class="flex mt-2">
        <button
          pButton
          pRipple
          pTooltip="Upload image"
          tooltipPosition="bottom"
          type="button"
          icon="pi pi-upload"
          class="p-button-rounded mr-2"
          (click)="file.click()"
        ></button>
        <button
          pButton
          pRipple
          pTooltip="Reset image"
          tooltipPosition="bottom"
          type="button"
          icon="pi pi-times"
          class="p-button-rounded p-button-outlined"
          (click)="resetImage()"
        ></button>
      </div>
    </div>
    <div class="field w-full">
      <label for="name" class="block text-900 font-medium mb-2">Name</label>
      <input
        formControlName="name"
        id="name"
        type="text"
        class="w-full"
        [ngClass]="{
          'ng-dirty': nameField?.dirty,
          'ng-invalid': !nameField?.valid
        }"
        pInputText
      />
      <small
        *ngIf="nameField?.dirty && nameField?.errors?.['required']"
        id="name-help"
        class="p-error block"
        >Name is required</small
      >
      <small
        *ngIf="nameField?.errors?.['minlength']"
        id="name-help"
        class="p-error block"
        >Name minlength is 6</small
      >
    </div>
    <div class="field w-full">
      <label for="email" class="block text-900 font-medium mb-2">Email</label>
      <input
        formControlName="email"
        id="email"
        placeholder="example@gmail.com"
        type="email"
        class="w-full"
        [ngClass]="{
          'ng-dirty': emailField?.dirty,
          'ng-invalid': !emailField?.valid
        }"
        pInputText
      />
      <small
        *ngIf="emailField?.dirty && emailField?.errors?.['required']"
        id="username2-help"
        class="p-error block"
        >Email is required</small
      >
      <small
        *ngIf="emailField?.errors?.['email']"
        id="username2-help"
        class="p-error block"
        >Email is invalid</small
      >
    </div>

    <div class="field w-full">
      <label for="password" class="block text-900 font-medium mb-2"
        >Password</label
      >
      <p-password
        id="password"
        [toggleMask]="true"
        formControlName="password"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right w-full password-field"
        [ngClass]="{
          'ng-dirty': passwordField?.dirty,
          'ng-invalid': !passwordField?.valid
        }"
      >
        <ng-template pTemplate="header">
          <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
      <small
        *ngIf="passwordField?.dirty && passwordField?.errors?.['required']"
        class="p-error block"
        >Password is required</small
      >
      <small
        *ngIf="passwordField?.errors?.['invalidPattern']"
        class="p-error block"
        >Password is invalid</small
      >
    </div>
    <div class="field w-full">
      <label for="repeat-password" class="block text-900 font-medium mb-2"
        >Repeat password</label
      >
      <p-password
        id="repeat-password"
        [feedback]="false"
        [toggleMask]="true"
        formControlName="repeatPassword"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right w-full password-field"
        [ngClass]="{
          'ng-dirty': repeatPasswordField?.dirty,
          'ng-invalid': !repeatPasswordField?.valid
        }"
      >
      </p-password>
      <small
        *ngIf="repeatPasswordField?.dirty && repeatPasswordField?.errors?.['required']"
        class="p-error block"
        >Repeat password</small
      >
      <small
        *ngIf="repeatPasswordField?.errors?.['notEqual']"
        class="p-error block"
        >Passwords should match</small
      >
    </div>
    <p-message
      *ngIf="responseError"
      severity="error"
      text="{{ responseError }}"
      styleClass="mb-3 w-full"
    ></p-message>
    <button
      pButton
      pRipple
      type="submit"
      label="Register"
      [disabled]="!form.valid || loading"
      [loading]="loading"
      icon="pi pi-user"
      class="w-full"
    ></button>
  </form>
</p-card>
