::ng-deep {
	.password-field {
		& input {
			width: 100% !important;
		}
		&.ng-dirty.ng-invalid {
			& input {
				border-color: #f0a9a7 !important;
			}
		}
	}
}

.avatar-upload {
	display: flex;
	flex-direction: column;
	align-items: center;

	& .avatar {
		max-height: 150px;
		width: auto;

		border-radius: 3px;
		border: 1px solid var(--primary-color);

		cursor: pointer;
	}

	& .file-input {
		display: none;
	}

	& .file-upload-btn {
		width: auto;
		margin: 0;
	}
}
