<div
  class="px-4 py-8 mt-5 md:px-6 lg:px-8 surface-ground"
  style="background-color: var(--surface-ground)"
>
  <div class="border-top-1 border-300 pt-5 text-center">
    <img src="assets/images/logo.png" alt="Image" height="36" />
    <ul
      class="list-none p-0 mx-0 my-5 flex justify-content-center flex-column align-items-center lg:flex-row"
    >
      <li>
        <a class="text-600 cursor-pointer line-height-3 lg:mr-5">About Us</a>
      </li>
      <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">News</a></li>
      <li>
        <a class="text-600 cursor-pointer line-height-3 lg:mr-5"
          >Investor Relations</a
        >
      </li>
      <li>
        <a class="text-600 cursor-pointer line-height-3 lg:mr-5">Careers</a>
      </li>
      <li><a class="text-600 cursor-pointer line-height-3">Media Kit</a></li>
    </ul>
    <div
      class="px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center"
    >
      <div class="col-fixed flex flex-wrap flex-order-1 lg:flex-order-0">
        <img
          src="assets/images/payment/amex.svg"
          alt="Amex"
          class="w-3rem mr-3"
        /><img
          src="assets/images/payment/apple-pay.svg"
          alt="Apple Pay"
          class="w-3rem mr-3"
        /><img
          src="assets/images/payment/master-card.svg"
          alt="Mastercard"
          class="w-3rem mr-3"
        /><img
          src="assets/images/payment/visa.svg"
          alt="Visa"
          class="w-3rem mr-3"
        /><img
          src="assets/images/payment/paypal.svg"
          alt="PayPal"
          class="w-3rem"
        />
      </div>
      <div
        class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1"
      >
        <a tabindex="0" class="cursor-pointer mr-3"
          ><i
            class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"
          ></i></a
        ><a tabindex="0" class="cursor-pointer mr-3"
          ><i
            class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"
          ></i></a
        ><a tabindex="0" class="cursor-pointer mr-3"
          ><i
            class="pi pi-youtube surface-900 p-1 text-sm border-circle text-0"
          ></i></a
        ><a tabindex="0" class="cursor-pointer"
          ><i
            class="pi pi-google surface-900 p-1 text-sm border-circle text-0"
          ></i
        ></a>
      </div>
    </div>
    <div class="text-center">
      <a class="mr-5 text-sm text-600 cursor-pointer">Privacy Policy</a
      ><a class="text-sm text-600 cursor-pointer">Terms of Service</a>
    </div>
  </div>
</div>
