.auth-container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;

	background-image: url("/assets/images/auth-bg.jpg");
	background-size: cover;
	background-position: center center;
}
.tabs {
	display: flex;
	justify-content: center;
}
::ng-deep clr-tabs .nav .nav-item {
	&:last-of-type {
		margin-right: 0 !important;
	}
}
.auth-panel {
	background-color: #fff;

	border-radius: 3px;
}

.auth-form {
	// padding: 1rem;
}
