.auth-container {
	position: relative;

	max-width: 100vw;
	min-height: 100vh;

	display: flex;
	align-items: center;

	background-image: url("/assets/images/auth-bg.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	overflow-y: auto;
}

.auth-form {
	width: 95%;
	max-width: 400px;
	height: 100%;
	margin: 0 auto;
}
