<p-toast position="top-left"></p-toast>
<div
  class="surface-overlay px-3 lg:px-6 flex align-items-stretch relative border-bottom-1 surface-border"
  style="min-height: 80px"
>
  <div
    routerLink="/"
    class="hidden lg:flex align-items-center justify-content-center mr-3 lg:mr-6 cursor-pointer"
  >
    <img src="assets/images/logo.png" alt="Image" height="40" class="mr-2" />
    <span class="text-blue-600 font-semibold">Pharmacy</span>
  </div>
  <div class="flex align-items-center flex-auto">
    <div class="p-input-icon-left w-full p-input-filled">
      <i class="pi pi-search"></i
      ><input
        pinputtext=""
        type="text"
        placeholder="Product search"
        [(ngModel)]="search"
        (keyup.enter)="onSearch()"
        class="p-inputtext p-component p-element w-full"
      />
    </div>
  </div>
  <div class="flex ml-3 lg:ml-6">
    <ul class="list-none p-0 m-0 flex">
      <li class="inline-flex relative">
        <a
          routerLink="favourites"
          style="text-decoration: none"
          pRipple
          class="text-900 font-medium inline-flex align-items-center cursor-pointer px-1 lg:px-3 border-bottom-2 border-transparent hover:border-primary select-none"
          ><i
            pBadge
            value="{{ (favService.favsCount | async)?.length }}"
            style="font-size: 1.8rem"
            class="pi pi-heart"
          ></i
          ><span class="hidden">Likes</span></a
        >
      </li>
      <li class="inline-flex relative">
        <a
          routerLink="{{
            (authService.isAuth | async) ? 'cart' : '/auth/login'
          }}"
          style="text-decoration: none"
          pRipple
          class="text-900 font-medium inline-flex align-items-center cursor-pointer px-1 lg:px-3 border-bottom-2 border-transparent hover:border-primary select-none"
          ><i
            pBadge
            value="{{ cartService.itemsCount | async }}"
            style="font-size: 1.8rem"
            class="pi pi-shopping-cart"
          ></i
          ><span class="hidden">My Cart</span></a
        >
      </li>
      <div class="inline-flex py-3">
        <p-divider layout="vertical"></p-divider>
      </div>
      <li class="inline-flex">
        <app-user-btn></app-user-btn>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
